<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = "style.css")  }}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Food</title>
</head>




<body>
<div class="left-menu">
     {% if 'username' in session %}
    {{  'You are logged in as ' + session['username'] }}
        {% endif %}
    <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="{{ url_for('main')}}" class="btn btn-sm animated-button victoria-two">Main</a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="{{ url_for('login')}}" class="btn btn-sm animated-button victoria-two">Login</a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="{{ url_for('register_get')}}" class="btn btn-sm animated-button victoria-two">Register</a>
    </div>
</div>

<div id="map">
</div>

{% block content %}    {% endblock %}

</body>
</html>
