
<div class="">
    <div class="">
        <div class="">
            <form method=POST action="{{ url_for('register_post') }}">
                <div class="">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="" name="username" placeholder="Username">
                </div>
                <div class="">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="" name="password" placeholder="Password">
                </div>
                <button type="submit" class="">Register</button>
            </form>
            <br>
        </div>
    </div>
</div>
